<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин игр</title>
</head>
<body>
    <header>
        {% block pagename %}
        <h1> Page Name </h1>
        {% endblock %}
    </header>

    <nav>
        {% block menu %}
        <p><a href="\platform"><h2>Главная</h2> </a></p>
        <p><a href="\platform/news"><h2>Новости</h2> </a></p>
        <p><a href="\platform/games"><h2>Магазин</h2> </a></p>
        <p><a href="\platform/cart"><h2>Корзина</h2> </a></p>
        {% endblock %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <a>2024 Pavel Zhelibo</a>
        {% endblock %}
    </footer>

</body>
</html>
